html, body{
    margin: 0;
}
.flex {
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-center-horizontal{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.input{
    padding: 8px;
    margin-bottom: 4px;
    font-size: 16px;
    width: 300px;
}
.button{
    font-size: 16px;
    padding: 4px 8px;
}
.error-message{
    color: red;
}
.has-error{
    border-color: red;
}
.table{
    display: table;
    margin-top: 32px;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.table-row > div {
    display: table-cell;
    padding: 3px 10px;
    border:  1px solid black;
    border-top: 0;
    border-left: 0;
}
.table-header{
    display: table-header-group;
    background-color: #ddd;
}
.table-header > div {
    display: table-cell;
    padding: 3px 10px;
    border:  1px solid black;
    border-left: 0;
}
.table-header > :first-child, .table-row > :first-child{
    border-left: 1px;
    border-left-color: black;
    border-left-style: solid;
}
.table-button{
    margin-top: 16px;
}
