html, body{
    margin: 0;
}
.flex {
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.input{
    padding: 8px;
    margin-bottom: 4px;
    font-size: 16px;
}
.button{
    font-size: 16px;
    padding: 4px 8px;
}
.error-message{
    color: red;
}
.has-error{
    border-color: red;
}
