html, body{
    margin: 0;
}
.flex {
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-center-horizontal{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.input{
    padding: 8px;
    margin-bottom: 4px;
    font-size: 16px;
    width: 300px;
}
.button{
    font-size: 16px;
    padding: 4px 8px;
}
.error-message{
    color: red;
}
.has-error{
    border-color: red;
}
.table{
    display: table;
    margin-top: 32px;
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell;
}
.table-row > div {
    display: table-cell;
    padding: 6px 10px;
    border:  1px solid rgb(0, 0, 0, 0.12);
    border-top: 0;
    border-left: 0;
}
.table-header{
    display: table-header-group;
}
.table-header > div {
    display: table-cell;
    padding: 3px 10px;
    border:  1px solid rgb(0, 0, 0, 0.12);
    border-left: 0;
}
.table-header > :first-child, .table-row > :first-child{
    border-left: 1px;
    border-left-color: rgb(0, 0, 0, 0.12);
    border-left-style: solid;
}
.table-button{
    margin-top: 10px;
}
.m-t-16{
    margin-top: 16px;
}
.m-b-16{
    margin-bottom: 16px;
}
.m-r-8{
    margin-right: 8px;
}
.display{
    display: block;
}
.display-none{
    display: none;
}
.material-header{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.6)
}
.material-text{
    font-size: 16px;
    color: rgb(0, 0, 0, 0.87)
}
.text-button{
    border: none;
    background: inherit;
    cursor: pointer;
    padding: 3px 10px;
}
.beautiful-green{
    color: #0db69d;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    height: 60px;
}
.content{
    margin-top: 60px;
}
